* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 0.5rem 0;
}

/* 導覽列 */

.navbar {
    background: #ffffff;
    height: 100px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
}

.title h1 {
    font-size: 1.5rem;
}

.vertical-line {
    width: 1px;
    height: 60px;
    background-color: #5e666f;
    margin: 0 10px;
}

.vertical-line-item {
    width: 1px;
    height: 2rem;
    background-color: #d3d3d3;
    margin: 0 1px;
}

.user-status {
    display: none;
}

.logo {
    width: clamp(120px, 30vw, 250px);
    height: auto;
}

#hamburger-icon {
    width: 32px;
    cursor: pointer;
}

/* 主要內容 */
.container {
    width: 100%;
}

/* 左邊menu區 */
#left-menu {
    background: #bbe7ca;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s ease;
}

#left-menu.active {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
}

.menu-links li {
    height: 3.5rem;
    padding: 1rem 0 1rem 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

.menu-links li:hover {
    background: #92e2ad;
    cursor: pointer;
}

.menu-links a {
    color: #1d6337;
    font-weight: bold;
}

.menu-links .menu-logo {
    margin-right: 0.5rem;
}

.menu-links li a:hover {
    filter: drop-shadow(0 0.1rem 0.2rem #4bd27f);
}

/* 左邊線條 */
.menu-links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 4px;
    background-color: transparent;
    transition: 0.3s ease;
}

.menu-links li:hover::before {
    background-color: #1d6337;
}

/* 右邊圓點 */
.menu-links li::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    background: url('../images/arrow_left_white.png') no-repeat center center, #1d6337;
    background-size: 1.75rem 1.75rem, auto;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    display: none;
    z-index: 1000;
}

.menu-links li:hover::after {
    display: block;
    border: 2px solid #fff;
}

/* 右邊main */
/* 麵包屑 */
.breadcrumb {
    margin: 1rem;
    color: #666;
}

.breadcrumb ol {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.breadcrumb li {
    display: flex;
    align-items: center;
    min-height: 1em;
}

.breadcrumb li::after {
    content: "＞";
    color: #aaa;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0.5rem;
}

.breadcrumb li:last-child::after {
    content: "";
}

.category {
    color: #9aa4af;
}

main {
    background: #f9f9f9;
    padding: 1rem 1rem 2rem 1rem;
}

.block {
    background: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}

.main-title {
    color: #216239;
    letter-spacing: 1pt;
    padding: 1rem 0;
}

/* select選單 */
.select-wrap {
    position: relative;
}

.select-wrap::after {
    content: '▼';
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 0.75rem;
    color: #888;
}

.form-select {
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 3rem;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    border: 1px solid #cecece;
    appearance: none;
}

label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.text-time {
    background: #fffbf2;
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem 0.25rem 0.25rem;
    margin: 0.5rem 0;
}

.text-format {
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
    margin: 1rem 0;
}

.text-file {
    display: flex;
    gap: 0.75rem
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-file-label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    font-weight: normal;
    border: 1px solid #cecece;
    background-color: #fff;
    color: #555;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    margin: 0;
    cursor: pointer;
}

.form-control-file {
    display: none;
}

.form-button {
    display: flex;
    gap: 1rem;
}

.form-button-download {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    align-self: end;
}

.form-button-submit {
    height: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.download-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    line-height: 1;
}

.download-img {
    height: 1rem;
    vertical-align: bottom;
}

/* 表格 */
.table {
    width: 100%;
    overflow-x: auto;
    table-layout: auto
}

.table table {
    min-width: 700px;
    color: #212529;
    border: 1px solid #cbcbcb;
    margin-bottom: 1rem;
    padding: 0.25rem 1rem;
    border-collapse: collapse;
}

.table thead {
    background: #bce7cb;
    border-bottom: 1px solid #cbcbcb;
    height: 3rem;
}

.table tr,
.table th,
.table td {
    max-width: 80px;
    padding: 0.5rem 1rem;
    text-align: left;
}

.table td:last-child {
    white-space: nowrap;
    width: 1%;
}

.table .hospital-info {
    border-bottom: 1px solid #cbcbcb;
    height: 3rem;
}

.hospital-info:nth-child(even) {
    background: #f7f8f9;

}

.check-status {
    color: #165dff;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem
}

.check {
    height: 20px;
}

/* 按鈕 */
button {
    background: #fff;
    padding: 0.75rem 2rem;
    margin: 0.5rem 0.25rem;
    border: 1px solid #cecece;
    border-radius: 0.35rem;
    cursor: pointer;
}

button:hover {
    filter: contrast(1.5);
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in;
}

button:active {
    filter: contrast(0.7);
}

.btn-blue {
    background: #1366d0;
    color: white;
}

.btn-green {
    background: #95e1af;
    color: #333;
    border: 0px;
}

.btn-green-border {
    border: 1px solid #296941;
    color: #296941;
}

.btn-export-green {
    background-color: #9ade84;
    border: 0px;
    padding: 0.3rem 1rem;
    margin: 0.75rem 0.25rem;
}

.btn-login {
    padding: 0;
    margin: 0;
    border: 0;
}

/* logo圖片 */
.email-logo,
.tel-logo,
.menu-logo {
    height: 1em;
    margin-right: 0.25rem;
}

.home-logo {
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
}

/* footer聯絡方式、版權 */
.contact {
    background-color: #eee;
    padding: 0.5rem;
}

.contact li {
    margin-bottom: 0.5rem;
}

.copyright {
    height: 3rem;
    background-color: #92e2ad;
    text-align: center;
    line-height: 3rem;
}

/* 電腦版 */
@media (min-width: 768px) {

    html {
        font-size: 16px;
    }

    hr {
        margin: 0.2rem 0;
    }

    /* 導覽列 */
    .navbar {
        height: 80px;
    }

    #hamburger-icon {
        display: none;
    }

    .user-status {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
    }

    .user-info {
        display: flex;
    }

    .user-info p::after {
        content: "|";
        margin: 0 0.5rem;
        color: #aaa;
    }

    .user-info p:last-child::after {
        content: "";
    }

    .user-login {
        margin-left: 0.5rem;
    }

    /* 主內容區 */
    .container {
        display: flex;
    }

    /* 左側menu */
    .container #left-menu {
        width: 20%;
        background: #bbe7ca;
        display: block;
        max-height: none;
        opacity: 1;
        transform: none;
        overflow: visible;
    }

    .menu-links li::after {
        right: -1.5rem;
        transform: translate(0, -50%);
    }

    /* 右側main區 */
    #right-main {
        width: 80%;
    }

    .form-flex {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .row-50 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 1.2rem;
    }

    .row-70-30 {
        display: grid;
        grid-template-columns: 7fr 3fr;
        gap: 1.2rem;
        align-items: end;
    }

    .form-button-submit {
        justify-content: end;
    }

    .text-file {
        justify-content: space-between;
    }

    .btn-blue,
    .download-icon {
        margin: 0;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0;
    }

    /* 表格 */
    .table table {
        width: 100%;
    }

    .table th,
    .table td {
        max-width: 100px;
    }

    /* 聯絡資訊區 */
    .contact li:last-child {
        margin-bottom: 0;
    }
}